*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(45deg,#99FFFF,#FFFF00);
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 100px 40px;
    padding: 100px 50px;

}
.container .box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    background-color:#fff;
    transition: .5s;
}
.container .box:hover{
    height: 400px;
}
.container .box .imgbox{
    position: absolute;
    top: 20px;
    height: 220px;
    width: 300px;
    border-radius: 20px;
    background-color: black;
    transition: .7s;
}
.container .box:hover .imgbox{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.5);
}
.container .box .imgbox img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.container .box .content {
    top: 200px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    
}
.container .box:hover .content{
 visibility:visible;
}
.container .box .content h2{
    margin-bottom: 30px;
    font-size: 50px;
}
.container .box .content p{
    margin-bottom: 15px;
    padding:0 15px 0 15px;
    border: 2px solid red;
}
.btn button{
    padding: 5px 20px;
    background-color: green;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

