*body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .navbar{
    background: url(https://media.gettyimages.com/id/1421361744/photo/aerial-view-of-townscape-and-mountains-against-sky-darjeeling-west-bengal-india.jpg?s=612x612&w=0&k=20&c=zd-Lc8SFLrGsvB8cSNlc7dAwBfE-Ri-0ioSg5OrKH9s=);
    background-size: cover;
    height: 100vh;
 }
 .logo{
    width: 100px;
    height: 100px;
 }
 .img2{
    height: 100vh;
    width: 50%;
    background-size: cover;
    justify-content: space-between;
 }