@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --slidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}


body {
    width: 100%;
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-02);
}

body.dark {
    --body-color: #18191a;
    --slidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;

}

.slidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    padding: 10px 14px;
    background: var(--slidebar-color);
    box-shadow: 5px 0 10px #222;
    transition: var(--tran-05);
}
.close{
    position: fixed;
    width: 88px;
    height: 100%;
    padding: 10px 14px;
    background: var(--slidebar-color);
    box-shadow: 5px 0 10px #222;
}
.slidebar.close .text{
    opacity: 0;
}

.slidebar .image-text img {
    width: 50px;
    height: 50px;
    border-radius: 14px;
    
    background-size: cover;
}

.slidebar .image-text {
    display: flex;
    align-items: center;
}

.headertext {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    color: var(--text-color);

}

.slidebar header {
    position: relative;
}
.slidebar .text{
    transition:var(--tran-04);
    white-space: nowrap;
}

.slidebar .image {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.headertext .name {
    margin-top: -2px;
}

.slidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg) ;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    transition:var(--tran-03);
    cursor: pointer;
    
}

 .close header .toggle{
  transform:  rotate(0deg);
}
body.dark .close header .toggle{
    transform:rotate(0deg) ;
}

.slidebar li {
    height: 50px;
    margin-top: 10px;
    align-items: center;
    list-style: none;
    display: flex;

}

.slidebar li .icon {
    font-size: 2rem;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    display: flex;

}


.slidebar li .icon,
.slidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.slidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;

}

.searchbox {
    background: var(--primary-color-light);
    border-radius: 6px;
}

.searchbox input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-04);
}

.slidebar li a:hover {
    background: var(--primary-color);
    border-radius: 6px;
}

.slidebar li a:hover .icon,
.slidebar li a:hover .text {
    color: var(--slidebar-color);
}

.slidebar .menubar {
    height: calc(100%-50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-content {
    margin-top: 50px;
}

.menubar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menubar .mode .moon-sun {
    height: 50;
    width: 60px;
    display: flex;
    align-items: center;
}

.menubar .mode .toggle-switch {
    position: absolute;
    height: 80%;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 6px;
    background: var(--toggle-color);
   
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--slidebar-color);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: var(--tran-03);
}

.dark .switch::before {

    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--slidebar-color);
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: var(--tran-03);
}
.dark.bx.bx-search input{
    color: #fff;
}